*{
  margin: 0px;
  padding: 0px;
}


/*Start of navigation*/
  #logo-fig{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 65%;
    margin: auto;
  }
  #logo-img{
    width: 100%;
  }
  figcaption{
    display: none;
  }

  h1{
    text-align: center;
    font-size: 5rem;
    font-family: monospace;
    text-transform: uppercase;
    margin: 1rem;

    color: #614c7d;
  }

  nav{
    background: rgb(247,198,181);
    background: -moz-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
  }

  nav ul {
    display: flex;
    justify-content: space-around;

  }
  nav li{
    padding: .5rem;
    list-style: none;
  }
  nav a {
    padding: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 4px #6B6B6B;
    text-decoration: none;
  }
/*End of navigation*/

/*Start of Body*/

  /*Start of First Article*/
  h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 1rem;


  }
  .first-article p{
    margin: 1rem 2rem;
  }

  #showcase-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 2rem;
  }

  #showcase-container figure{
    width: 95%;
  }
  .showcase-card{
  }
  .top-imgs{
    display: block;
    width: 100%;
    margin: 2rem auto .5rem auto;
  }
  #showcase-container figcaption{

  }
  /*End of First Article*/

  /*Start of Second Article Form*/

  #link-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 1rem;
  }

  #link-container figure{
    width: 20%;
  }
  .link-card{
  }
  .link-imgs{
    display: block;
    width: 100%;
  }
  #link-container figcaption{
    display: block;

    color: black;

    text-align: left;
    font-size: 1.2rem;
    font-family: sans-serif;


    margin: 0px .4rem .4rem .4rem;
  }
  .buy-now-button{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.3rem 0.0rem;

    width: 65%;

    font-size: 1.2rem;
    color: black;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    text-decoration: none;
  }
  .buy-now-button:visited{
    text-decoration: none;
  }
  .buy-now-button:hover{
    background-color: #f0f0f0;
  }

  /*End of Second Article Form*/

  /*Start of contact_Artical*/
  #contact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact-card{
    margin: 0.75rem;
  }
  /*End of contact_Artical*/

  /*Start of Footer*/
  #logo-small-img{
    width: 100%;
  }
  #logo-small-fig{
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 12%;
    margin: auto;
  }
  footer{
    width: 100%;
  }
  footer>ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;

    margin-top: 12px;
  }
  footer>ul>li{
    font-size: 2rem;
    text-align: center;
    color: black;

    width: 75%;
    word-wrap: break-word;

    margin: 2.4rem 0rem;
  }
  /*End of Footer*/

/*End of Body*/

/*desktop version*/
@media (min-width: 1024px){
  #logo-fig{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 35%;
    margin: auto;
  }
  h1{
    font-size: 4rem;
  }
  nav a{
    font-size: 1.3rem;
  }

  h2{
    font-size: 2.5rem;
  }
  #showcase-container{
    display: flex;
    justify-content: space-around;

    margin: 0rem;
  }

  #showcase-container figure{
    width: 47.5%;
  }

  #showcase-container figcaption{
    font-size: 1.2rem;
  }

  #second-article{
    margin-top: 8rem;
  }

  #link-container{
    display: flex;
    justify-content: space-around;

    margin: 2rem;
  }

  #contact-artical{
    margin-top: 10rem;
  }

  footer>ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 1rem;
    padding: 2rem;
  }
  footer>ul>li{
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
    color: black;

    width: 75%;
    word-wrap: break-word;

    margin: 0rem 0rem;
  }
}
